.bar {
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 0px;
    background-color: var(--background-color-bar);
    bottom: 0%;
    width: 17vw !important;
    border-style: solid solid solid;
    border-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons button {
    width: 100%;
    font-size: 17px;
    font-family: var(--font-family);
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border-color: initial;
    border-image: initial;
    border-style: solid;
    border-width: 1px 0px;
    padding: 0.7vh 0;
}

.buttons button:hover {
    background-color: var(--color-main-1);
    -webkit-text-fill-color: white;
}