body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    font-family: var(--font-family);
}

p,
input,
button {
    font-size: var(--font-size);
}

a {
    color: black;
    text-decoration: none;
    color: var(--color-a-1);
}

br {
    height: 2vh !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    justify-content: start;
}

.end {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}