<div class="bar">
    <div class="buttons">
        <a href="/listar"><button>Listagem de Patrimônios</button></a>
        <a href="/cadastrar"><button>Cadastrar Patrimônio</button></a>
        <a href="/escanear"><button>Escanear Patrimônio</button></a>
        <a href="/importar"><button>Importar Patrimônios</button></a>
        <a href="/exportar"><button>Exportar Patrimônios</button></a>
        <a href="/imprimir"><button>Imprimir Patrimônios</button></a>
        <a href="/deletar"><button>Deletar Patrimônios</button></a>
        <a href="/registros"><button>Registros de usuários</button></a>
        <a href="/registrar"><button>Registrar usuário</button></a>
        <a href="/sair"><button>Terminar sessão</button></a>
    </div>
</div>