<header>
    <div>
        <a href="/listar">
            <button>
                <h2>GERENCIADOR DE PATRIMÔNIOS</h2>
            </button>
        </a>
    </div>

    <div>
        <%- include('./userName') %>
    </div>
</header>