<div class="box-table">
    <div class="table">
        <% head = {
            nome: "Nome",
            email: "E-mail",
            modificacao: "Modificação"
        } %>

        <%- include('./tabela', {
            head: head,

            tabela: tabela["data"]
        }) %>
    </div>
</div>